files:
  "/etc/nginx/conf.d/00_cors_headers.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      add_header 'Access-Control-Allow-Origin' 'https://app.mapquester.website' always;
      add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
      add_header 'Access-Control-Allow-Headers' 'Content-Type, Authorization, X-Requested-With' always;
      add_header 'Access-Control-Allow-Credentials' 'true' always;

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"