option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mapquester.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: mapquester.wsgi:application


  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: mapquester_secret_key_production
    DEBUG: 'False'
    ALLOWED_HOSTS: '127.0.0.1, localhost, mapquester-backend-prod.eba-pcmxssii.us-west-2.elasticbeanstalk.com'
    DB_ENGINE: django.db.backends.postgresql
    DB_NAME: postgres
    DB_USER: postgres
    DB_PASSWORD: mapquester-admin
    DB_HOST: mapquester-db.c54ky86w676a.us-west-2.rds.amazonaws.com
    DB_PORT: '5432'
    TIME_ZONE: UTC
    LANGUAGE_CODE: en-us