option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mapquester-backend.wsgi:application
  
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: mapquester_secret_key_production
    DEBUG: 'False'
    ALLOWED_HOSTS: 'django-env.eba-32pppxzp.us-west-2.elasticbeanstalk.com'
    DB_ENGINE: django.db.backends.postgresql
    DB_NAME: mapquester
    DB_USER: postgres
    DB_PASSWORD: mapquester-admin
    DB_HOST: mapquester-db.c54ky86w676a.us-west-2.rds.amazonaws.com
    DB_PORT: '5432'
    TIME_ZONE: UTC
    LANGUAGE_CODE: en-us