option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mapquester.wsgi:application


  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: mapquester_secret_key_production
    DEBUG: 'False'
    ALLOWED_HOSTS: '127.0.0.1, localhost, mapquester-backend-prod.eba-pcmxssii.us-west-2.elasticbeanstalk.com'
    DB_ENGINE: django.db.backends.postgresql
    DB_NAME: mapquester
    DB_USER: postgres
    DB_PASSWORD: mapquester-admin
    DB_HOST: mapquester-db.c54ky86w676a.us-west-2.rds.amazonaws.com
    DB_PORT: '5432'
    TIME_ZONE: UTC
    LANGUAGE_CODE: en-us

  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

files:
  "/etc/gunicorn.conf.py":
    mode: "000644"
    owner: root
    group: root
    content: |
      bind = 'unix:/tmp/gunicorn.sock'
      workers = 3
      worker_class = 'sync'
      timeout = 120