packages:
  dnf:
    gcc: []
    python3-devel: []
    libpq-devel: []
    postgresql-devel: []

commands:
  01_install_psycopg2_binary:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install psycopg2-binary"
    leader_only: true
  02_change_pids_permission:
    command: "chmod 777 /var/pids"
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
