packages:
  yum:
    gcc: []
    postgresql-devel: [] # Equivalent to libpq-dev on Debian
    python3-devel: []

commands:
  01_enable_postgresql_repo:
    command: "amazon-linux-extras enable postgresql13" # Or replace `postgresql13` with your version if different
  02_install_dependencies:
    command: "yum install -y gcc postgresql-devel python3-devel"
  03_upgrade_pip:
    command: "/usr/bin/pip3 install --upgrade pip setuptools wheel"